<mat-toolbar color="primary">Kezdőlap</mat-toolbar>
<div style="padding: 20px">
  <mat-grid-list cols="3" rowHeight="300px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'Confirmable decorator' }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <button color="primary" mat-raised-button (click)="confirmableDecoratorFunction()">Confirmable dekorátor</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Validator decorator</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button color="primary" mat-raised-button>Validator decorator</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Permission decorator</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button color="primary" mat-raised-button>Permission decorator</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>
</div>
